
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}

img logo {
	max-width: 100%
}


a nav href about {
	text-decoration: none;
	color: black;
	font-size: 16px;
	text-align: justify;
	font-family: "verdana", serif;
}